<launch>
  <arg name="world_file" default="$(find arm_description)/worlds/maixsense_empty.world" />
  <arg name="robot_urdf" default="$(find arm_description)/urdf/Arm.urdf" />
  <arg name="model_name" default="care_arm" />
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gazebo_gui" default="true" />

  <!-- RViz is part of the normal simulation launch, but starts after a short
       delay so Gazebo, robot spawning, camera plugins, TF, and controllers have
       time to initialize first. This reduced the startup-associated RViz
       instability observed on this system. A separate low-probability
       RViz/OGRE/NVIDIA render-path SIGSEGV may still occur during long use. -->
  <arg name="use_rviz" default="true" />
  <arg name="rviz_start_delay" default="1.0" />
  <arg name="rviz_config" default="$(find arm_description)/rviz/care_arm_phase1.rviz" />
  <arg name="verbose" default="false" />

  <include file="$(find arm_description)/launch/load_robot_description.launch">
    <arg name="robot_urdf" value="$(arg robot_urdf)" />
  </include>

  <include file="$(find arm_description)/launch/gazebo_maixsense_world.launch">
    <arg name="world_file" value="$(arg world_file)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_care_arm"
        output="screen"
        args="-urdf
              -param robot_description
              -model $(arg model_name)
              -x 0.0
              -y 0.0
              -z 0.0
              -R 0.0
              -P 0.0
              -Y 0.0" />

  <rosparam file="$(find arm_description)/config/controllers.yaml" command="load" />

  <node pkg="controller_manager"
        type="spawner"
        name="controller_spawner"
        ns="/care_arm"
        output="screen"
        args="joint_state_controller arm_group_velocity_controller" />

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen">
    <remap from="joint_states" to="/care_arm/joint_states" />
  </node>

  <node if="$(arg use_rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(arg rviz_config)"
        launch-prefix="bash -c 'sleep $(arg rviz_start_delay); exec &quot;$0&quot; &quot;$@&quot;' "
        output="screen" />
</launch>
