<launch>
  <arg name="planner_config"
       default="$(find egocentric_arm_planner)/config/planner_phase1.yaml" />

  <node pkg="egocentric_arm_planner"
        type="receding_horizon_planner_node"
        name="receding_horizon_planner_node"
        output="screen">
    <rosparam file="$(arg planner_config)" command="load" />
  </node>
</launch>